# Copie para Streamlit Cloud → Settings → Secrets

SUPABASE_URL = "https://azhpxhrwhegfysoeqmft.supabase.co"
SUPABASE_KEY = "sua_anon_key_aqui"

[db]
host = "aws-1-sa-east-1.pooler.supabase.com"
port = 6543
dbname = "postgres"
user = "postgres.azhpxhrwhegfysoeqmft"
password = "SUA_SENHA_DO_BANCO"
